<app-menu></app-menu>
<div class="pagina">
  <header>
    <h1>administração | Cadastro de Usuário</h1>
  </header>
  <form [formGroup]="formulario">
    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Nome</mat-label>
        <input matInput  formControlName="nome"/>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Sobrenome</mat-label>

        <input matInput formControlName="sobrenome"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" color="accent" class="grande">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco"/>
      </mat-form-field>
    </div>
    <form>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone"/>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login"/>
        </mat-form-field>
        <div class="controles">
          <button type="button" mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
          <button type="button" mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
          <button type="button" mat-raised-button [disabled]="formulario.disabled" (click)="onCancelar()">Cancelar</button>
        </div>
      </div>
    </form>
    <div class="relatorio">
      <h2>Usuários Cadastros</h2>
      <table>
        
      </table>
    </div>
  </form>
</div>
