header{
    height: 15vh;
    h1{
        font-size: 1.5em;
    }
}
mat-form-field{
    margin-right: 15px;
    width: 300px;
}

button{
    margin-right: 15px;
}

.grande {
    width: calc(600px + 1em);
}
