
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fd7200;
    color: #000000;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: #ff0000;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    background-color: #00ff00;
}

.banner {
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
