<header>
  <nav>
    <div class="banner"></div>
    <ul class="menu">
      <li><a routerLink="/home"></a>home</li>

      <details>
        <summary>administração</summary>
        <div>
          <a routerLink="/cadUsuario">Usuário</a>
          <a href="">Material</a>
          <a href="">Produto</a>
        </div>
      </details>
      <details>
        <summary>Pomar</summary>
        <div>
          <a href="">Cadastro</a>

          <a href="">Movimento</a>

          <a href="">Colheita</a>
        </div>
      </details>
    </ul>
  </nav>
</header>
